#* 
	file: ExpressionControl.vm  
	This is the control template for our Expression code generator! 
	
	author: Rodrigo Bonifacio - rba2@cin.ufpe.br
*# 

#set ($type = "int")
#set ($print = true)
#set ($extended = true)

$generator.parse("Expression.vm", "Expression.java", "type", $type) 
$generator.parse("Value.vm", "Value.java", "type", $type) 
$generator.parse("BinaryExp.vm", "BinaryExp.java", "type", $type) 
$generator.parse("AddExp.vm", "AddExp.java", "type", $type) 
$generator.parse("SubExp.vm", "SubExp.java", "type", $type)

#if($type == "int")
 #set ($typeCapital = "Integer")
 #set ($className = "IntegerValue")
 #set($filename = "IntegerValue.java")
 $generator.parse("ConcreteValue.vm", $filename, "type", $type) 
#else
 #set ($typeCapital = "Double")
 #set ($className = "DoubleValue")
 #set($filename = "DoubleValue.java")
 $generator.parse("ConcreteValue.vm", $filename, "type", $type) 
#end

#if($extended == true)
 $generator.parse("MultExp.vm", "MultExp.java", "type", $type) 
 $generator.parse("DivisionExp.vm", "DivisionExp.java", "type", $type) 
#end